* {
    margin: 0 0 0;
}
body{
    
    background-image: url('build.jpg');
    background-repeat: no-repeat;
    background-size: 200% 200%;
    margin: 0;
}
h1{
    color: white;
    font-family: 'Century Gothic';
    background-color: #40618c;
}
.painel_login{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
    border-radius: 10px;
    background-color: #4386A3;
}
.img_logo{
    height: 50%;
    width: 50%;
    border-radius: 10px;
}
.painel_login input{
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(153, 217, 234);
}
.button_login{
    font-size: 30px;
    background-color: #40618c;
    border-radius: 10px;
   
}
.forget_pass{
    width: 150px;
    background-color: #269e98;
    border-radius: 10px;
}
.creat_login{
    width: 230px;
    background-color: #269e98;
    border-radius: 10px;
}